/** @format */

.lessons {
  font-size: 20px;
}

main {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
  color: white;
}

h1 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

div > h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) '. ';
  counter-increment: item;
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

ul li::before {
  margin-right: 5px;
}
