body {
  background-color: rgb(204, 204, 204);
  padding: 0px;
  margin: 0px;
}

.main {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}

header {
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 214, 153);
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
  word-spacing: 15px;
}

.header {
  text-align: left;
  padding: 2px;
}

a:visited {
  color: rgb(0, 0, 0);
}

body h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

ul {
  font-size: 20px;
  line-height: 1.5;
  list-style-image: url(./img/bullet.png);
}

.testata {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  letter-spacing: 10px;
}

footer {
  background-color: #0b0a0a;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.meme {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
