body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: red;
    border: none;
    padding: 20px;
    font-size: 45px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
    background-color: brown;
}