h1 {
  color: rgb(204, 104, 28);
  text-align: center;
}
.sfondo {
  background-image: url("https://th.bing.com/th/id/R.df16ad2202f21e78bf5a2ea61393bb92?rik=lfTSDKWQ52A%2b%2bw&pid=ImgRaw&r=0");
  opacity: 0.2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 100%;
}
.elencourl {
  width: 400px;
  height: 30px;
  font-size: 20px;
}
ul {
  margin-bottom: 50px;
}
