body {
  background-image: url("bg.jpg");
}
a {
  color: white;
}
.bodytext {
  animation: fadeIn 2s;
}
@font-face {
  font-family: Bentinck Regular;
  src: url("Bentinck-Regular.woff2");
}
p,
ul,
h2,
h1 {
  color: white;
  font-family: "Bentinck Regular";
}
code {
  background-color: black;
  color: white;
}
li {
  color: white;
  font-family: "Bentinck Regular";
  list-style-image: url("pointright.gif");
  list-style-position: inside;
}
td {
  text-shadow: 10px 10px 4px magenta;
  text-decoration: overline;
  text-decoration-color: magenta;
}
