/** @format */

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: auto;
  margin: 1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  /* height: 100px;
  width: auto; */
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;

  color: rgb(0, 0, 0);
}
.logo:hover {
  color: rgb(88, 90, 90);
  text-shadow: black -1px -1px 2px;
}
.menu {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 30px;
  font-size: 19px;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu button {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 40px;
  background-color: rgba(0, 0, 0, 0.274);
  text-decoration: none;
  font-size: 19px;
  margin-inline-end: -10px;
}
.a:hover {
  color: rgb(88, 90, 90);
  text-shadow: black -1px -1px 2px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  color: rgb(0, 0, 0);
}
.login-box {
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  text-align: center;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  margin-bottom: 5px;
  color: black;
}

.login-box input[type='text'],
.login-box input[type='password'] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-box input[type='submit'] {
  padding: 10px 5px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.login-box input[type='submit']:hover {
  background-color: #30d138;
}
