/** @format */

.page {
  height: 94vh;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

a {
  color: #ffe600;
  text-decoration: none;
  font-size: 1em;
}

.content {
  background-color: rgba(100, 100, 100, 0.461);
  border-radius: 10px;
  margin: 30px;
}

h3,
h4 {
  color: #ffe600;
  margin-bottom: 5vh;
  font-size: 2em;
  text-align: center;
}

ul > li {
  width: 60vw;
  color: white;
  font-size: large;
  list-style: none;
  margin-bottom: 2em;
}

.color {
  border: 2px solid #0b0c10;
  background-color: #ff9500;
  color: #0b0c10;
}

.color:hover {
  border: 2px solid #ff9500;
  background-color: #0b0c10;
  color: #ff9500;
}
