/** @format */

h1 {
  color: #000000;
}

body {
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px);
  color: white;
}

h3:hover {
  color: blue;
}
