main{
    color: white;
    padding-left: 55px;
}

.lessons{
    font-size: 20px;
}

h1 {
    margin-bottom: 10px;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}


p {
    margin-bottom: 10px;
    line-height: 1.5;
}


ol {
    counter-reset: item;
}

ol li {
    display: block;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    margin-right: 5px;
}


h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


ul {
    list-style-type: none;
}

ul li::before {
  
    margin-right: 5px;
}
