

body {
    background-image: url("../../img/123.png");
    background-color: #f2f4f5;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment:fixed;
    width: 100vw;
}