@font-face {
  font-family: "Grotesque";
  src: url("./font/GrotesqueMT.woff2") format("woff2");
}

body {
  font-family: "Grotesque";
  line-height: 2;
  font-size: 15px;
  color: #fff;
  height: 100%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 13px;
  }
}
.sfondo {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url("https://i.ibb.co/H2p36dn/dark-waves-1920x1080-476654-mm-90.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow-y: auto;
  z-index: -1;
}

header {
  color: #fff;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
#title {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  header {
    padding: 30px 20px;
  }
  .logo {
    font-size: 24px;
  }
  #title {
    font-size: 40px;
  }
}
.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box-intro {
  width: 30%;
  padding: 80px 200px;
  text-align: justify;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.box-desc {
  margin-top: -90px;
  width: 30%;
  padding-left: 10%;
  text-align: justify;
  font-size: 14px;
  color: #cacaca;
}
.button {
  margin-top: 80px;
  display: flex;
}
.button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid white;
  padding: 5px 20px;
  margin-right: 30px;
}
.button a:hover {
  background-color: #cacaca96;
  border-radius: 40px;
}
@media screen and (max-width: 768px) {
  .box-intro,
  .box-desc {
    width: 80%;
    padding: 20px 40px;
    font-size: 16px;
  }
  .button {
    margin-top: 40px;
  }

  .button a {
    font-size: 18px;
    margin-right: 20px;
  }
}
.containerdocs {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin-left: 130px;
  flex: 0 0 auto;
  width: 25%;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
}
.desc {
  max-width: 280px;
  margin-top: -30px;

  color: #cacaca;
}
.lessons {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.lessons a {
  color: #cacaca;
}
.lessons a:hover {
  border-radius: 40px;
  max-width: 200px;
  background-color: #cacaca96;
  padding-left: 10px;
}

.boxdocs {
  flex: 1;
  width: 75%;
  padding: 10px 20px;
  margin-top: 67px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  text-align: justify;
  color: #cacaca;
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .containerdocs {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-left: 10px;
  }

  .boxdocs {
    width: 90%;
    margin-right: 0;
  }
}

.boxdocs h2,
h3 {
  padding: 10px 0px;
  text-align: justify;
  color: #fff;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-left: 15px;
  padding-right: 40px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #cacaca;
}
footer {
  text-align: right;
  padding: 0px 80px;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline;
  padding: 0px 40px;
}
footer ul li a {
  color: #cacaca;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  nav ul li {
    display: block;
    margin-left: 50px;
  }

  nav ul li:last-child {
    padding-right: 80px;

    nav ul li a {
      font-size: 16px;
    }
  }
}
.containerlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loginform {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.loginform h1 {
  font-size: 36px;
  text-align: center;
}
.loginform .inputbox {
  width: 80%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}
#username {
  color: #fff;
}
#password {
  color: #fff;
}
.inputbox input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}
.inputbox input::placeholder {
  color: #fff;
}
.inputbox i {
  font-size: 20px;
  position: absolute;
  top: 40%;
  right: -40px;
}
.remember label input {
  color: #fff;
  margin-right: 3px;
}
.remember a {
  color: #fff;
  text-decoration: none;
}
.remember a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgbs(0, 0, 0, 0.1);
}
.excon0 {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .excon0 {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .excon0 {
    width: 90%;
  }
}
.excon0 p,
span {
  font-size: 30px;
}
#colori {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgbs(0, 0, 0, 0.1);
  text-align: center;
}
.bottonejs {
  color: red;
  background-color: #333;
}
