/** @format */

body {
  background-image: url('https://assets.telegraphindia.com/telegraph/2020/Sep/1600593720_1shutterstock_406413301.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px);
}
