/** @format */

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: orange;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blockquote {
  text-decoration: orange;
  text-align: center;
  padding: 10px;
  border: 10px;
}

#ivan {
  height: 120px;
  weight: 120px;
}

#lucia {
  height: 120px;
  weight: 120px;
}

#orazio {
  height: 120px;
  weight: 120px;
}
