.pers {
  color: blue;
  font-family: Arial;
  text-align: center;
  font-size: 80px;
}
.orangepers {
  color: chocolate;
  font-family: Arial;
  text-align: center;
  font-size: 80px;
}
p,
ul,
h2,
ol {
  font-weight: bold;
}
img {
  float: right;
}
