.css_om{
    position: absolute;
    width: 96vw;
    top: 6em;
    left: 2.6vw;
    -webkit-box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
    box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
}

p, h2, h3, h4 {
    font-size: 1.3em;
    margin-bottom: 8px;
    margin-top: 10px;
}

h2, h3{
    color:  #ffb103;
    margin-left: 30px;
}


h3, h4{
    margin-left: 3px;
}

h4{
    margin-left: 30px;
}

p{
    margin-left: 35px;
}

ol{
    margin-top: 10px;
    margin-left: 30px;
    list-style: none;
}

li {
    list-style: none;
}

.modello > ol >li{
    margin-left: -30px;
}

.vantaggi > ol > li{
    margin-top: 5px;
    margin-left: 60px;
    list-style:upper-roman;
}

.supporto{
    margin-left: 25px;
}