:root {
    --primary-color: #fff414;
    --second-color: #ffb103;
    --third-color: #1796f0ce;
    --bg-img-header: url("../../img/924_resize.png");
    /* --bg-img: url("../../img/123.png"); */
    --bg: url("../../img/123.png");
}




.git {
    position: absolute;
    width: 90vw;
    height: 60vh;
    top: 8em;
    left: 5vw;
    background-color: rgba(250, 250, 250, 0.826);
    -webkit-box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
    box-shadow: 3px 9px 14px 3px rgba(0,0,0,0.4);
}

.title {
    color: var(--second-color);
    font-size: 3em;
}

.sub-title {
    color: var(--second-color);
    font-size: 2em;
    margin-bottom: 1em;
}

p,h2, h3, h4 {
    font-size: 1.3em;
    margin-left: 15px;
    /* width: 95%; */
    /* font-size: 1.5em; */

}

ol{
    margin-top: 10px;
    margin-left: 30px;
}