* {
  margin: 0;
}
body {
  background-image: url(https://media.dev.to/cdn-cgi/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fnphrgz8yfnjylrwfr0yl.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#Titolo {
  color: blue;
  text-align: center;
  font-size: 150px;
  font: italic;
}

.scritta {
  width: 100%;
  font-size: 70px;
  display: flex;
  text-decoration: none;
  color: black;
}
