/** @format */

.body {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.text {
  border: 1px black solid;
  padding: 30px;
  background-color: red;
  cursor: pointer;
}
.text:hover {
  background-color: brown;
}

button {
  border: none;
}
