* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.header-box {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: rgb(137, 19, 19);
  padding: 10px;
  box-shadow: 0 0 10px rgb(152, 23, 23);
}

h1 {
  font-size: 50px;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 34px;
}

.container-addnames > input {
  font-size: 24px;
  font-weight: 500;
  width: 220px;
}

.add-button {
  font-size: 18px;
  padding: 4px;
}

.groups {
  font-size: 24px;
}

.generate-button {
  font-size: 18px;
  padding: 4px;
}

.container-list-names {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-output {
  overflow: scroll;
  width: 700px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgb(77, 77, 77);
  height: 50vh;
}

li {
  font-size: 24px;
  margin: 24px 0px 20px 42px;
}
