* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(183, 183, 183);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3 {
  margin-top: 24px;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  margin-bottom: 24px;
  margin-top: 20px;
}

.button {
  font-size: 32px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 12px;
  padding: 22px 26px;
  cursor: pointer;
  background-color: rgb(203, 5, 5);
}

.button2 {
  font-size: 32px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 22px;
  cursor: pointer;
  background-color: green;
}

.button3 {
  font-size: 16px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 8px;
  margin: 24px;
  cursor: pointer;
  background-color: rgb(234, 146, 5);
}
