.titolo {
  font-size: 35px;
  color: red;
  text-align: center;
  margin-right: 1744px;
}
.differenza {
  width: 873px;
  color: red;
}
p {
  font-size: 34px;
}
h2 {
  color: rgb(240, 48, 5);
  font-style: oblique;
  font-size: 43px;
}
.differenza2 {
  width: 943px;
}
