nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  height: 80px;
  background-color: cadetblue;
  color: white;
  padding-top: 20px;
}

.nome {
  padding-left: 60px;
}

.lista-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  list-style: none;
  gap: 20px;
  padding-right: 60px;
  padding-top: 5px;
}

.lista-nav a {
  color: white;
  text-decoration: none;
}
