header {
  text-decoration: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #810707f4;

  color: rgb(247, 245, 245);
  padding: 20px;
  justify-content: left;
  align-items: left;
}

h1,
h2 {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
}

ul li a:hover {
  background-color: #8516167e;
}

.classe {
  color: green;
}
